body{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}
.back-image{
    background-image: url(images/0f50412320df4b90a4f5c53eb18e0e47_18.webp);
    background-repeat: no-repeat;
    
}